/* You can add global styles to this file, and also import other style files */
.textcenter {
    text-align: center;
}
.devcolor {
    color: #0064cd;
}
.devbtn {
    border: none;
    color: #ffffff;
    border-radius: 3px;
    font-weight: 100;
    background-color: #0064cd;
    /* #0064cd */
  }

.timeFormControl {
   padding-left: 8px !important;
   width: 63px !important;
}
.cron-editor-container .months-small {
    width: 62px !important;
    padding-left: 8px !important;
}

.loadernews {
    border: 10px solid #ffffff;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  .mainload {
    display: flex;
    justify-content: center;
    margin-top: 65px;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .comtexttitle {
    font-size: 20px;
    color: #484848;
}